{% extends 'base.html' %}

{% block title %}Прохождение теста{% endblock %}

{% block content %}
    <h1 class="display-4 text-center">Начало первичной диагностики</h1>
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="question">
                <label>{{ form.instance.question.text }}:</label>
                <ul>
                    {% for opt in form %}
                        <li>
                            <label>
                                {{ opt.tag }}
                                {{ opt.choice_label }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
{% endblock %}