<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация на тестирование</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container mt-5">
    <h1>Регистрация на тестирование</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in profile_form %}
            <div class="row mb-3 align-items-center">
                <div class="col-md-3 text-end">
                    <label for="{{ field.id_for_label }}" class="form-label">
                        {{ field.label }}
                        {% if field.field.required %}
                            <span class="text-danger fw-bold">*</span>
                        {% endif %}
                    </label>
                </div>
                <div class="col-md-6">
                    {{ field }}
                </div>
                <div class="col-md-3 invalid-feedback d-block">
                    {% if field.errors %}
                        {{ field.errors.0 }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Далее</button>
        </div>
    </form>
</div>
</body>
</html>