{% extends 'base.html' %}

{% block title %}Прохождение теста{% endblock %}

{% block content %}
    <style>
        h1.display-4 {
            margin-bottom: 2rem;
        }
        ul.no-bullets {
            list-style-type: none;
            padding-left: 0;
        }
    </style>

    {% if current_block == 1 %}
        <h1 class="display-4 text-center">Первичная диагностика</h1>
        <p class="lead text-center mb-4">
            Тест позволит оценить ваше знание профессий и технологий сферы ИТ.<br>
            Выберите единственный верный ответ на каждый вопрос.
        </p>
    {% else %}
        <h1 class="display-4 text-center">Определение ваших предпочтений</h1>
        <p class="lead text-center mb-4">
            Во втором блоке нужно выбрать варианты, отражающие ваши личные предпочтения.
        </p>
    {% endif %}

    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Простой вывод всей формы -->
            <button type="submit" class="btn btn-primary">Далее</button>
        </form>
    </div>
{% endblock %}