{% extends 'base.html' %}

{% block title %}Профессиональные предпочтения{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-lg-8 col-md-10">
        <h1 class="mb-4">Профессиональные предпочтения</h1>
        <p class="lead">Выберите ваши предпочтительные варианты ответов:</p>

        <form action="{% url 'primary_test:block2_test' %}" method="post">
            {% csrf_token %}
            {% for question, options in prepared_questions %}
                <div class="mb-3">
                    <label class="fw-bold">{{ question.text }}</label>
                    <div class="radio-group">
                        {% for option, checked in options %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="option_{{ option.id }}" value="{{ option.id }}" {% if checked %}checked{% endif %}>
                                <label class="form-check-label" for="option_{{ option.id }}">{{ option.option_text }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-success w-100 my-4">Отправить и просмотреть результаты</button>
        </form>
    </div>
</div>
{% endblock %}